$fontface: 'Lucida Grande', Verdana, sans-serif;
$zindex: 99999;

.checkout {
  &__wrapper {
    display: none;
    &--show {
      display: block;
    }
  }

  &__form {
    font: 13px/20px $fontface;
    color: #404040;
    width: 270px;
    padding: 15px;
    background: #f3f6fa;
    border: 1px solid;
    border-color: #c2cadb #bbc5d6 #b7c0cd;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: calc($zindex + 1);

    &__wrapper {
      display: none;
      &--show {
        display: block;
      }
    }

    &__message {
      display: none;
      text-align: center;
      font-size: 15px;
      color: #7f889e;
      text-shadow: 0 1px rgba(255, 255, 255, 0.7);
      &--show {
        display: block;
      }
    }
  }

  &__paragraph {
    zoom: 1;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    + p {
      margin-top: 15px;
    }
  }

  &__header {
    position: relative;
    margin: -24px -15px 15px;
  }

  &__title {
    padding: 0 15px;
    line-height: 38px;
    font-size: 13px;
    font-weight: bold;
    color: #7f889e;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    background: #eceff5;
    border-bottom: 1px solid #c5ccdb;
    border-radius: 7px 7px 0 0;
    background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
    box-shadow: inset 0 1px white;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
  }

  &__price {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 40px;
    font: 14px/40px Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
    text-indent: -1px;
    letter-spacing: -1px;
    background: #e54930;
    border: 1px solid;
    border-color: #b33323 #ab3123 #982b1f;
    border-radius: 21px;
    user-select: none;
    background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    &:before {
      content: '';
      position: absolute;
      top: 3px;
      bottom: 3px;
      left: 3px;
      right: 3px;
      border: 2px solid #f5f8fb;
      border-radius: 18px;
      box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px     rgba(0, 0, 0, 0.25);
    }
  }
  &__input {
    float: left;
    padding: 0 7px;
    height: 32px;
    color: #525864;
    background: white;
    border: 1px solid;
    border-color: #b3c0e2 #bcc5e2 #c0ccea;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #f6f8fa, white);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    &:focus {
      border-color: #46aefe;
      outline: none;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
    }

    &--name {
      width: 150px;
    }

    &--card {
      width: 210px;
    }

    &--exp,
    &--cvc {
      margin-left: 15px;
      width: 45px;
    }
  }

  &__button {
    width: 100%;
    height: 34px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #1486f9 #0f7de9 #0d6acf;
    background: #1993fb;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    &:active {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      border-color: #075bba #0c69d2 #0f7de9;
      background-image: linear-gradient(to bottom, #1281dc, #1593fc);
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  &__overlay {
    position: absolute;
    z-index: $zindex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }

  &__https__warning {
    background: #ed6c63;
    color: white;
    border-radius: 3px;
    padding: 5px 20px;
    position: relative;
    z-index: calc($zindex + 1);
    font: 12px/20px $fontface;
    display: none;
    &--show {
      display: block;
    }
  }

  &__powered {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: calc($zindex + 1);
    &__logo {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.lt-ie9 .checkout__input {
  line-height: 30px;
}

:-moz-placeholder {
  color: #acb6c8 !important;
}

::-moz-placeholder {
  color: #acb6c8 !important;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #acb6c8;
}

:-ms-input-placeholder {
  color: #acb6c8;
}

::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}
